{% load static %}
{% include 'header.html' %}

<br><br><br><br><br>
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="section-title">
                    <div class="section-subtitle">
                        About Us
                    </div>
                    <h2 class="section-main-title">We are <strong>Professionals</strong></h2>
                </div>
                <div class="about-item">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias veniam quae magnam unde reiciendis error soluta aliquid quisquam ullam, saepe possimus in delectus, ipsa molestiae asperiores voluptas, tempore similique amet incidunt! Veritatis perferendis et dolorem deleniti commodi maiores cumque, alias corrupti quidem laborum quis ipsum ab nam harum ratione numquam.</p>
                </div>
            </div>
            <div class="col-sm-4 offset-sm-2">
                <div class="about-box">
                    <img src="{% static 'images/about.jpg' %}">
                </div>
            </div>
        </div>
    </div>
</section>